<div class="container grey lighten-3 content z-depth-2">
  <h1 class="title">GuitarApp</h1>
  <div class="row white z-depth-1 mytext">
    <div class="col s4">
      <p>Gitaren zijn er in alle kleuren, vormen en maten. Een gitaar op zich is een vorm van kunst, de ene is heel kleurrijk
        of de andere is pikzwart maar heeft een vorm die je nog nooit eerder gezien hebt. Sommige gitaren dragen misschien
        een stuk geschiedenis met zich mee. Daarom is deze applicatie er om gitaren te verzamelen en tentoon te stellen.
      </p>
    </div>
    <div class="col s8">
      <img src="http://www.harmonycentral.com/forum/filedata/fetch?id=31024707&type=thumb" class="responsive-img slash">
    </div>
  </div>
</div>
